/* DEFAULT */
body{
    margin: 0;
    padding: 0;
    color: rgb(51, 51, 51);
}
p{
    margin: 0;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
a:hover, a:active, a:visited{
    text-decoration: none;
    color: rgb(51, 51, 51);
}
.section{
    width: auto;
    height: calc(auto);
    padding: 1em;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

/* CLASES */
#nav-bar{
  background-color: rgb(235, 83, 83);
  box-shadow: 0px 2px 8px black;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.cart-box{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  font-size: 24px;
  color: rgb(51, 51, 51);
}

#breadcrumb-container{
  font-size: 14px;
}

.section{
  --var-medida: 2rem;
  margin-top: var(--var-medida);
  height: calc(100vh - var(--var-medida));
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid red;
}

.display-flex{
    display: flex;
    flex-direction: row;
}

.form-group{
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 100%;
    margin: 0;
}

.gender-card{
    width: 400px;
    height: 400px;
    background-color: rgb(211, 31, 31);
    box-shadow: 3px 3px 6px black, 0px 0px 2px black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li{
    border: 0;
    padding: 4px 0;
}

p a{
    font-size: 16px;
}

p a span{
    font-size: 20px;
}

.wh-d{
    display: flex;
    align-self: center;
    width: 180px;
    height: auto;
}

.card-body span{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}

.card-body p{
    display: flex;
    justify-content: center;
}

.caja h5, .caja ul li{
    cursor: pointer;
}

#submit:focus, #submit:active{
    outline: none;
    box-shadow: none;  
}

.bor{
    border: none;
}

.boxC{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#breadcrumb-container{
    padding: 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.breadcrumb{
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.breadcrumb-item{
    cursor: pointer;
}

.active{
    cursor: default;
}

.list-group-item.active {
    z-index: 2;
    color: rgb(212, 0, 0);
    background-color: transparent;
    border-color: transparent;
}
